body {
  background-color: #8441d0;
}

.jumbotron {
  background-color: rgb(221, 128, 240);
  color: white;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid black;
    
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: white;
  }

  tr:nth-child(odd) {
    background-color:rgb(221, 128, 240);
  }

.center {
  text-align: center;
}